mat-card {
  width: 80%;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}
table{
  width: 65%;
  overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
.botao{
  color: #000000
}