<mat-card class="card">
  <mat-card-title> Novo Livro </mat-card-title>
</mat-card>
<div class="conteudo">
  <mat-card id="nome" class="celula esquerda">
    <mat-card-title>Insira os dados do Livro:</mat-card-title>
    <div class="campos">
      <div>
        <mat-form-field class="campo">
          <mat-label>Nome</mat-label>
          <input matInput name="bookName" [(ngModel)]="book.bookName" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field class="campo">
        <mat-label>Autor</mat-label>
        <input matInput name="author" [(ngModel)]="book.author" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="campo">
        <mat-label>ISBN</mat-label>
        <input matInput name="isbn" [(ngModel)]="book.isbn" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="campo">
        <mat-label>Genero</mat-label>
        <input matInput name="genre" [(ngModel)]="book.genre" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="campo">
        <mat-label>Editora</mat-label>
        <input matInput name="publisher" [(ngModel)]="book.publisher" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="campo">
        <mat-label>Preço</mat-label>
        <input type="number" matInput name="preco" [(ngModel)]="book.preco" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="campo" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="book.status">
          <mat-option value="disponivel"> Disponivel </mat-option>
          <mat-option value="indisponivel"> Indisponivel </mat-option>
          <mat-option value="analise"> Analise </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</div>

<button mat-raised-button color="warn" (click)="create()">Cadastrar</button>
