.input-fied {
  margin-right: 16px;
}

table {
  width: 65%;
  overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.esquerda {
  margin-right: 8px;
}
.direita {
  margin-left: 8px;
}

.celula {
  flex: 1;
  margin-bottom: 16px;
}

.campos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.campo {
  flex: 5;
  margin-right: 8px;
}
.botao {
  flex: 1;
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: #000000;
}
